* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://images.hdqwalls.com/download/after-sunset-minimal-4k-zm-3840x2400.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  line-height: 1.5;
  tab-size: 4;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: transparent;
}
a:hover {
  color: transparent;
}
a:visited {
  color: pink;
}
a:active {
  color: yellow;
}

.container {
  width: 90%;
  max-width: 400px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 40px #0000005d;
}

table, th, td {
  text-align: center;
  font-size: 2rem;
  color: white;
  border-color: white;
}

.icon {
  width: 48px;
  height: 48px;
  margin: 0 10px;
  transition: transform 0.1s ease;
}
.icon:hover {
  transform: scale(1.1);
}
