a {
  text-decoration: none;
  background-color: transparent;
  color: transparent;
}
a:hover {
  color: transparent;
}
a:visited {
  color: pink;
}
a:active {
  color: yellow;
}

html {
  display: table;
  margin: auto;
  line-height: 1.5;
  font-feature-settings: normal;
  tab-size: 4;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: url('https://images.hdqwalls.com/download/after-sunset-minimal-4k-zm-3840x2400.jpg') no-repeat center center fixed;
  background-size: cover;
}

.background {
  position: absolute;
  top: -10vh;
  left: -10vw;
  width: 120vw;
  height: 120vh;
  background: url('https://images.hdqwalls.com/download/after-sunset-minimal-4k-zm-3840x2400.jpg') no-repeat center center;
  background-size: cover;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.78vw;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-align: center;
  padding: 2.0vw;
  box-shadow: 0 0 2.08vw #0000005d;
}

table,
th,
td {
  text-align: center;
  font-size: 2.08vw;
  color: white;
  border-color: white;
}

.icon {
  width: 2.5vw;
  height: 2.5vw;
  position: relative;
  margin: 0 0.52vw;
}
